<input #newTaskElem type="text" [(ngModel)]="newTask" (keyup)="errorMsg = '';"> <br>
<small>{{errorMsg}}</small> <br>
<button *ngIf="!isEdit" (click)="add(newTaskElem.value)">Add Task</button> 
<button *ngIf="isEdit" (click)="save()">Edit Task</button> 
<button *ngIf="isEdit" (click)="cancelEdit()">Cancel</button> 

<br>

<ol>
    <li *ngFor="let task of todo;index as i">
        {{task}} 
        <button (click)="remove(i)">DEL</button>
        <button (click)="edit(i)">EDIT</button>
    </li>
</ol>